body{
    background-image: url('bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
h2{
    text-align: center;
    color: #f43f5e;
    margin-top: 2rem;
}
nav ul{
    list-style-type: none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin-top: 1rem;
}

li a{
    text-decoration: none;
    color:#d4d4d8;
    padding: 1rem;
    
}
li a:hover{
    color: #f43f5e;
}

.gather h2{
    color:#f43f5e;
    margin-top: 9rem;
    font-size: 4rem;
}


h3{
    color: white;
    text-align: center;
    margin-top: 5rem;
}
.social-links{
    padding-left: 37rem;
    margin-top: 2rem;
}
.social-links .fa{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: black;
    background-color: #f43f5e;
    margin-right: 15px;
    cursor: pointer;
}
.image-one img{
    height: 150px;
    width: 150px;
    border-radius: 2rem;
    margin-left: 8rem;
    margin-top: 2rem;
    cursor: pointer;
}
.image-two img{
    height: 150px;
    width: 150px;
    border-radius: 2rem;
    margin-left: 13rem;
    margin-top: 2rem;
    cursor: pointer;
}
.image-three img{
    height: 150px;
    width: 150px;
    border-radius: 2rem;
    margin-left: 13rem;
    margin-top: 2rem;
    cursor: pointer;
}
.image-four img{
    height: 150px;
    width: 150px;
    border-radius: 2rem;
    margin-left: 8rem;
    margin-top: 2rem;
    cursor: pointer;
}
.image-five img{
    height: 150px;
    width: 150px;
    border-radius: 2rem;
    margin-left: 13rem;
    margin-top: 2rem;
    cursor: pointer;
}
.image-six img{
    height: 150px;
    width: 150px;
    border-radius: 2rem;
    margin-left: 13rem;
    margin-top: 2rem;
    cursor: pointer;
}
.row-one{
    display: flex;
    
}
.row-two{
    display: flex;
}

.submenu-one{
    padding: 0.5rem 2.5rem ;
    border-radius: 2rem;
    margin-left: 9rem;
    cursor: pointer;
    border-style: none;
    background-color: #f43f5e;
}
.submenu-two{
    padding: 0.5rem 2.5rem ;
    border-radius: 2rem;
    margin-left: 15.5rem;
    cursor: pointer;
    border-style: none;
    background-color: #f43f5e;
}
.submenu-three{
    padding: 0.5rem 2.5rem ;
    border-radius: 2rem;
    margin-left: 15rem;
    cursor: pointer;
    border-style: none;
    background-color: #f43f5e;
}
.submenu-four{
    padding: 0.5rem 2.5rem ;
    border-radius: 2rem;
    margin-left: 9rem;
    cursor: pointer;
    border-style: none;
    background-color: #f43f5e;
}
.submenu-five{
    padding: 0.5rem 2.5rem ;
    border-radius: 2rem;
    margin-left: 15.5rem;
    cursor: pointer;
    border-style: none;
    background-color: #f43f5e;
}
.submenu-six{
    padding: 0.5rem 2.5rem ;
    border-radius: 2rem;
    margin-left: 15rem;
    cursor: pointer;
    border-style: none;
    background-color: #f43f5e;
}



.order{
    margin-top: 17rem;
    color: #f43f5e;
    text-align: center;
}
.select{
    display: flex;
}
.btn{
    display: flex;
}
.deco{
    border: none;
    color:#f43f5e;
    background-color: white;
    border-radius: 0.5rem;
    padding: 5px 0 ;
}
select{
    width: 150px;
    text-align: center;
    color: black;
}
.set-one{
    margin-left: 19rem;
    margin-top: -9rem;
}

.set-two{
    margin-left: 13rem;
    margin-top: -9rem;
}
.set-three{
    margin-left: 13rem;
    margin-top: -9rem;
}
.set-four{
    margin-left: 19rem;
    margin-top: -9rem;
}
.set-five{
    margin-left: 13rem;
    margin-top: -9rem;
}
.set-six{
    margin-left: 13rem;
    margin-top: -9rem;
}
.resto h2{
    font-size: 3rem;
    margin-top: 6rem;
}
.resto h3{
    font-size: 2rem;
    margin-top: -0.5rem;
}
p{
    margin-left: 6rem;
    margin-top: 3rem;
    color:burlywood;
    font-size: 1.3rem;
}
.review{
    margin-left: 3rem;
    margin-top: 4rem;
    color:#f43f5e;
    font-size: 1.3rem;
    
}


